* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mono Sans';
    src: url('/github/fonts/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Mono Sans', sans-serif;
    background-color: #151841;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Mono Sans', 'Trebuchet MS';
    font-size: small;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #151841; /* Fondo sólido */
}

.logo {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.div-nav ul li div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #151841; /* Fondo sólido */
}

div-nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.div-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.img-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transform: translateY(100%);
    animation: slideInFromTop 3s ease-in-out forwards;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.h1-main {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.h2-main {
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.div-div-main {
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-signup {
    margin-right: 30px;
    background-color: #1A7F37;
    color: white;
    font-family: 'Mona Sans', sans-serif;
}

.a-trycopilot {
    margin-left: 30px;
}

.div-video {
    width: 100%;
    display: flex;
    justify-content: center;
}

video {
    width: 90%;
}

.div-aft-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.ul-div-aft-main {
    display: flex;
    justify-content: space-around;
    width: 682px;
    height: 56px;
    border-radius: 100px;
    /* border-color: white; */
    border: .2px solid white;
}
.ul-div-aft-main li:hover{
    padding:10px 10px 10px 10px;
    width: 15%;
    height: 100%;
    background-color: #202334 ;
    border:.5px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 100px;
    animation: deslizar 10s linear infinite;
    align-items: center;
}

.carrusel img {
    flex-shrink: 0;
    height: auto;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.div-pulpito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.div-pulpito div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-pulpito div img {
    width: 20%;
}

.div-pulpito h3 {
    font-family: sans-serif;
    text-align: center;
}

.div-pulpito h2 {
    text-align: center;
}

.video2 {
    display: flex;
    justify-content: center;
}

.video2 video {
    width: 50%;
    border-radius: 5%;
}

.copilot {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.copilot section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.imgs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgs section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.imgs section img {
    width: 100%;
}

.imgs section div {
    margin-left: 20px;
}

.escudo {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
}

.escudo div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.escudo div img {
    width: 95px;
}

.escudo p {
    text-align: center;
}

.fixes {
    background: linear-gradient(#212333, #36557A);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fixes section {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-container {
    border-radius: 3%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#a392df, #464e56);
}

.img-container img {
    width: 95%;
    height: 94%;
}
.fixes section p{
    margin-bottom: 20px;
}
/* .fixes section div{
    background:linear-gradient(#A392DF,#464E56);
    padding:10px,10px,10px,10px;
    border-radius: 3%;
} */
 footer{
    /* padding:20px 20px 20px 20px; */
    align-items: center;
 }
 footer ul{
    padding:20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer ul li {
    width: 20%;
    justify-content: center;
    align-items: flex-start;
}

footer ul li div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

footer ul li div a {
    text-decoration: none;
    color: white;
}

footer ul li div a:hover {
    text-decoration: underline;
    color:#344F72;
 }
 .footer2{
    background-color: #151B23;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer2 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.footer2 ul li {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.footer2 ul li div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-brands {
    width: 100%;
}

.footer-brands a svg {
    width: 30%;
    color: white;
}